<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>THoth: Intelligence, Graphics and Programming</title>
	<link rel= "stylesheet" type= "text/css" href="stylesheet/style.css">
	<script src="thoth.js"></script>
</head>

<body>
	
	<a href="/"><img src="images/logo.jpg" alt="heading image" width="1074" height="200" class="header"></a>
	<div class="header">
		<h1></h1>
		<ul class="header">
			<li>Intelligence</li>
			<li>Graphics</li>
			<li>Programming</li>
		</ul>
	</div>
	<div>
	<form action="https://www.google.com/search">
		<input name="p">
		<input type= "submit" value="search">
		</form>
	</div>
	<hr>
	<div class="main">
		<table class="main">
		<tr>
		<td><a href="/" class="main">HOME</a></td>
		<td><a href="/downloads" class="main">DOWNLOADS</a></td>
		<td><a href="/portfolio" class="main">PORTFOLIO</a></td>
		</tr>
		<td><a href="/education" class="main">EDUCATION</a></td>
		<td><a href="/quotes" class="main">QUOTES<a></td>
		<td><a href="/about" class="main">ABOUT ME</a></td>
		</tr>
		<tr>
		<td><a href="/books" class="main">BOOKS</a></td>
		</tr>
		</table>
		
	</div>
	<hr>
	<div class="body">
	<div class="overall">
	
	<div class="about">
		<h1>About Me</h1>
		<br>
		<img src="images/mypic.jpg" alt="Philip Okonkwo" width="255" height="266">
		
		<p>My name is Philip Okonkwo. I am from Delta state, Nigeria.
		I schooled at the Federal University of Technology Akure where I was opportuned
		to meet some of the best knowledge thirsty people in Nigeria who were fellow classmates.
		I am an Electrical and Electronics Engineering graduate.
		I am also a very good computer programmer, web designer and computer graphics enthusiast.
		Other interests include Artificial Intelligence, Machine Learning, Graph Theory,
		Web Intelligence and Big data, Computer security.
		</p>
		<p>
		When I am not on my computer doing any of the above, you are most likely going to find
		me playing a game or reading a book or you will find me outside comtemplating the universe
		And wondering why the visit of alien civilizations to earth is taking so long.
		</p>
		
	</div>
	<div class="footnotes">
		<footer>
		<p>Personal Information</p>
		<ul>
		<li>Call: +2348137693641</li>
		<li>Email: <a href="mailto: filip2unine@yahoo.co.uk?bcc=filip2unine@gmail.com">filip2unine@yahoo.co.uk</a></li>
		</ul>
		</footer>
		
	</div>
	</div>
	
	<div class="sidebar">
	</div>
	
	<div class="bottom_menu">
		<table class="bottom_menu">
		<tr>
		<td><a class="bottom_menu" href="https://www.xkcd.com">XKCD</a></td>
		<td><a class="bottom_menu" href="https://www.howstuffworks.com">HOW STUFF WORKS</a></td>
		<td><a class="bottom_menu" href="https://www.ifls.com">IFLS</a></td>
		</tr>
		<tr>
		<td><a class="bottom_menu" href="https://www.ted.com">TED</a></td>
		<td><a class="bottom_menu" href="https://www.blender.org">BLENDER FOUNDATION</a></td>
		<td><a class="bottom_menu" href="https://www.blendercookie.com">BLENDERCOOKIE</a></td>
		</tr>
		<tr>
		<td><a class="bottom_menu" href="https://www.webgl.org">WEBGL</a></td>
		<td><a class="bottom_menu" href="https://www.python.org">PYTHON</a></td>
		<td><a class="bottom_menu" href="https://www.societyofrobot.com">SOCIETY OF ROBOT</a></td>
		</tr>
		<tr>
		<td><a class="bottom_menu" href="https://www.udacity.com">UDACITY</a></td>
		<td><a class="bottom_menu" href="https://www.cousera.org">COURSERA</a></td>
		</tr>
		</table>
	</div>
	</div>
</body>
</html>