<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>THoth: Intelligence, Graphics and Programming</title>
	<link rel= "stylesheet" type= "text/css" href="stylesheet/style.css">
	<script src="thoth.js"></script>
</head>

<body>
<a href="/"><img src="images/logo.jpg" alt="heading image" width="1074" height=""200"" class="header"></a>
	<div class="header">
		<h1></h1>
		<ul class="header">
			<li>Intelligence</li>
			<li>Graphics</li>
			<li>Programming</li>
		</ul>
	</div>
	<div>
		<form action="https://www.google.com/search">
		<input name="p">
		<input type= "submit" value="search">
		</form>
	</div>
	<hr>
	<div class="main">
		<table class="main">
		<tr>
		<td><a href="/" class="main">HOME</a></td>
		<td><a href="/downloads" class="main">DOWNLOADS</a></td>
		<td><a href="/portfolio" class="main">PORTFOLIO</a></td>
		</tr>
		<td><a href="/education" class="main">EDUCATION</a></td>
		<td><a href="/quotes" class="main">QUOTES<a></td>
		<td><a href="/about" class="main">ABOUT ME</a></td>
		</tr>
		<tr>
		<td><a href="/books" class="main">BOOKS</a></td>
		</tr>
		</table>
		
	</div>
	<hr>

	<div class="overall">
	<div>
	<h1>ADMINTH</h1>
	<hr>
	<form action="/adminfront" method="post" name="fromImageUpload" enctype="multipart/form-data">
	<textarea name="content" style="background-color:#eeeeee"></textarea>
	<br>
	<br>
	<input type="file" name="fileUpload" accept="image/*">
	<input name="name">
	<input type="submit">
	</form>
	</div>
	</div>

</body>
</html>