<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title> Accessing form data </title>
</head>
<body>
<h1> Accessing Form Data </h1>
<form action="google.com/search" name="frmLogin" onsubmit="alert(document.frmLogin.txtUsername.value)" onchange="this.submit()">
Username <input type="text" name="txtUsername" size="12" /> 
<br/> <br/>
<input type="submit" value="Click here" />
<select>
<option>gggg</option>
<option>ffff</option>
</select>
</form>
</body>
</html>

